src/LearnMS.API/bin/
src/LearnMS.API/LearnMS.db
obj/
.idea
src/LearnMS.API/appsettings.Development.json
**/.env


src/LearnMS.React/dist/
src/LearnMS.React/node_modules/
src/LearnMS.API/LearnMS.db-wal
src/LearnMS.API/LearnMS.db-shm
